@font-face {
    font-family: 'DINPro';
    src: url('fonts/DINPro-Bold.eot');
    src: url('fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DINPro-Bold.woff2') format('woff2'),
        url('fonts/DINPro-Bold.woff') format('woff'),
        url('fonts/DINPro-Bold.ttf') format('truetype'),
        url('fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('fonts/DINPro-Light.eot');
    src: url('fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/DINPro-Light.woff2') format('woff2'),
        url('fonts/DINPro-Light.woff') format('woff'),
        url('fonts/DINPro-Light.ttf') format('truetype'),
        url('fonts/DINPro-Light.svg#DINPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('fonts/DINPro-Medium.eot');
    src: url('fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/DINPro-Medium.woff2') format('woff2'),
        url('fonts/DINPro-Medium.woff') format('woff'),
        url('fonts/DINPro-Medium.ttf') format('truetype'),
        url('fonts/DINPro-Medium.svg#DINPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

html, body{ font-family:'DINPro', Arial, Helvetica, sans-serif; font-weight:300;}
.clr{ clear:both;}
#banner{ position:relative; margin:auto; width:100%;}
#banner:before{ display: block; position: absolute; content: ""; width: 55%; height: 100%; left: 0; background-color: #e7e5e6;
 z-index: 0;}
.banner-cntr{ margin:auto; padding:70px 0px 20px 0px;}
.logo{  margin-top: 50px; text-align:left; display:block;}
.banner-hd{ margin:auto; text-align:left; padding:160px 0px 50px 0px; color:#8d8585; font-size:18px; font-weight:500;}
.banner-hd h3{ font-size:40px; color:#8d8585; line-height:40px; font-weight:bold; padding:10px 0px;}
.banner-hd h3 span{ color:#1a1818;}
.banner-txt{ font-size:18px; color:#000; line-height:25px; width:75%; padding:10px 0px 10px 0px; font-weight:500;}
.banner-symbol{ float:right; text-align:right; width:30px; height:30px; background-color: #e7e5e6;}
.banner-img{ margin:auto; width:100%; padding-top:40px; float:right;}
.banner-img img { width: 100%; max-width: 100%;}
.ban{
    margin-top: 70px;
}

#about{ margin:auto; width:100%; padding:15px 0px 50px 0px;}
.about-lft{ float:left; width:50%; padding: 0px 15px;}
.about-symbol{ display:block; width:10px; height:10px; background-color: #AEA2A2; margin:30px 0px;}
.about-txt{ font-size:16px; font-weight:300; line-height:30px;}
.about-txt h1{ font-weight:bold; font-size:40px; line-height:40px; color:#1a1818; padding-bottom: 30px;}
.about-hd{ font-size:18px;color:#1a1818; line-height:25px; font-weight:500; padding:180px 0px 0px 360px;}
.about-rgt{ float:right; width:45%; padding: 0px 15px;}
.about-img1{ float:left; width:45%;}
.about-img1 img{ width:100%; max-width:100%;}
.about-img2{ float:right; width:45%; padding-top:90px;}
.about-img2 img{ width:100%; max-width:100%;}




#works{ position: relative; margin:auto; width:100%; padding:0px;}
#works:before{ display: block; position: absolute; content: ""; width: 40%; height: 100%; right: 0; 
 background:url(../images/works-background.jpg) top right no-repeat; z-index: 0;}
.works-symbol{ display:block; width:10px; height:10px; background-color: #AEA2A2; margin:30px 0px;}
.works-hd{ font-size:16px; color:#6E6666; line-height:25px; font-weight:bold;}
.works-hd span{ color:#131212;}
.works-hd h1{ font-weight:bold; font-size:40px; line-height:40px; color:#1a1818; padding-bottom: 30px;}
.works{ background:#7E7979; padding:70px; margin:100px 0px 180px 0px;}
#work .carousel-item img{ width:100%; max-width:100%;}
#work .carousel-control-next{ right:-50px; width:48px; opacity:1;}
#work .carousel-control-next-icon{ background:url(../images/next-icon1.jpg); width:48px; height:48px;}
#work .carousel-control-prev{ right:0px; width:48px; left:auto; opacity:1;}
#work .carousel-control-prev-icon{ background:url(../images/prev-icon1.jpg); width:48px; height:48px;}
#work .carousel-indicators{ bottom:-60px;}
#work .carousel-indicators li{ width:12px; height:12px; background:#FFF;}
#work .carousel-indicators .active{ border: 1px solid #FFF;	padding: 3px; background: #FFF content-box; background-color:#FFF;}


.works-hds{ font-size:10px; color:#6E6666; line-height:10px; float: right; margin-top: 68%; font-weight:bold;}
.works-hds span{ color:#131212;}
.works-hds h6{ font-weight:bold; font-size:15px; color:#1a1818;}

#services{ position: relative; margin:auto; width:100%; padding:30px 0px; background:#282124;}
.services-symbol{ display:block; width:10px; height:10px; background-color: #AEA2A2; margin:30px 0px;}
.services-hd{ font-size:16px; color:#8D8D8D; line-height:25px; font-weight:bold;}
.services-hd span{ color:#FFF;}
.services-hd h1{ font-weight:bold; font-size:40px; line-height:40px; color:#FFF; padding-bottom: 30px;}
#service {
    overflow-y: visible;
    overflow-x: auto;
    white-space: nowrap;
    vertical-align: text-top;
    margin: 0px 0px 0px 23%;
    padding: 30px 0px 30px 0px;
    clear: both;
    border-spacing: 5px;
}
.item {
    display: inline-block;
    width: 360px;
	margin-right: 30px;
	background:#333333;
}
.item-img{ margin:auto; width:100%;}
.item-img img{ width:100%; max-width:100%;}
.item-txt{ color:#D3CCCC; font-size:16px; line-height:25px; padding:15px 50px 40px 50px; width:100%;}
.item-txt h3{ font-size:25px; color:#FFF; line-height:36px;}
.item-txt h3 span{ color:#C0C0C0;}
.item-lnks{}


#testi{ position:relative; margin:auto; width:100%; padding:50px 0px; background:#FFF;}
.testi-symbol{ display:block; width:10px; height:10px; background-color: #AEA2A2; margin:30px 0px;}
.testi-hd{ font-size:16px; color:#6E6666; line-height:25px; font-weight:bold;}
.testi-hd span{ color:#131212;}
.testi-hd h1{ font-weight:bold; font-size:40px; line-height:40px; color:#1a1818; padding-bottom: 30px;}
.testi{ margin:auto; width:100%; padding: 150px 0px 50px 0px;}
.testi-txt{ font-size:12px; line-height:25px; font-weight:300;}
.testi-txt h3{ font-size:16px; color:#131314; line-height:30px; font-weight:bold;}
.testi-txt span{font-size:14px; line-height:25px; font-weight:500; text-align:right; position:relative; float:right;
 padding-left: 70px;}
.testi-txt span:before{ display: block; position: absolute; content: ""; width: 50px; height: 1px; left:0; 
 background:#707070; z-index: 0; top:14px;}
.testi-back{ width: 83%; height: 250px; background:#F7F5F6; margin-left:17%;}


#team{ position:relative; margin:auto; width:100%; padding:50px 0px; background:#FFF;}
.team-symbol{ display:block; width:10px; height:10px; background-color: #AEA2A2; margin:30px 0px;}
.team-hd{ font-size:16px; color:#6E6666; line-height:25px; font-weight:bold;}
.team-hd span{ color:#131212;}
.team-hd h1{ font-weight:bold; font-size:40px; line-height:40px; color:#1a1818; padding-bottom: 30px;}


#blog{ margin:auto; width:100%; padding:50px 0px; background:#FFF;}
.blog-symbol{ display:block; width:10px; height:10px; background-color: #AEA2A2; margin:30px 0px;}
.blog-hd{}
.blog-hd h1{ font-weight:bold; font-size:40px; line-height:40px; color:#1a1818; padding-bottom: 30px;}
.blog-lft{ float:left; font-size:16px; color:#6C6767; line-height:25px; font-weight:bold;}
.blog-lft span{ color:#101010;}
.blog-rgt{ float:right;}
.blog-rgt a{ float:right; color:#070707; font-size:16px; font-weight:300; text-decoration:none;
 background:url(../images/blog-icon.jpg) center right no-repeat; padding:0px 20px 0px 0px; line-height:25px;}
.blogs{ padding-left: 10%; margin:30px 0px;}
#blogCarousel .carousel-control-prev{ left:-70px; width:48px; opacity:1; display: block; top: 70px;}
#blogCarousel .carousel-control-prev-icon{ background:url(../images/blog-prev.jpg); width:48px; height:48px;}
#blogCarousel .carousel-control-next{ left:-70px; width:48px; opacity:1; display: block; top: 126px;}
#blogCarousel .carousel-control-next-icon{ background:url(../images/blog-next.jpg); width:48px; height:48px;}
.blog-img{ margin:auto; width:100%;}
.blog-img a img{ width:100%; max-width:100%;}



footer{ background:#E7E5E6; margin:auto; padding:70px 0px 20px 0px;}
.ftr-img{ margin:auto; text-align:left; width:100%;}
.ftr-img img{ width:120px;}
.ftr-cntr{ border-bottom:1px solid rgba(112, 112, 112, 0.81);}
.ftr-lft{ float:left; width:45%; margin-bottom:30px;}
.ftr-lft h3{ color:#505050; font-size:16px; font-weight:bold; line-height:30px;}
.ftr-lft a{ display:block; color:#505050; font-weight:300; text-decoration:none; margin:14px 0px;}
.ftr-rgt{ float: right; width:45%; margin-bottom:30px;}
.ftr-rgt h3{ color:#505050; font-size:16px; font-weight:bold; line-height:30px;}
.ftr-rgt a{ display:block; color:#505050; font-weight:300; text-decoration:none; margin:14px 0px;}
.ftr-adrs{ margin-bottom:30px; color:#505050; font-weight:300; text-decoration:none; line-height:25px;}
.ftr-adrs h3{ color:#505050; font-size:16px; font-weight:bold; line-height:30px;}
.ftr-con{ margin-bottom:20px; color:#505050; font-weight:300; text-decoration:none; line-height:25px;}
.ftr-con h3{ color:#505050; font-size:16px; font-weight:bold; line-height:30px;}
.fld{ background:#CDCDCD; border:0; width:100%; margin-bottom:14px; padding:7px 10px; font-size:14px; font-weight:500;}
textarea.fld{ height:90px;}
.ftr-btn{ background:#5A5757; border:0; color:#FFF; padding:10px 30px; font-weight:500; margin-bottom:30px;}
.ftr-scl{ margin-bottom:30px;}
.ftr-scl a{ display:inline-block; margin-right:30px;}
.ftr-scl a img{ opacity:0.5;}
.ftr-scl a img:hover{ opacity:1;}

.ftr-btm{ margin:auto; width:100%;}
.ftr-lnks{ font-size:14px; line-height:25px; color:#505050; padding:10px 0px;}
.ftr-lnks a{ display:inline-block; font-size:14px; text-decoration:none; color:#505050;}
.ftr-copy{ font-size:14px; line-height:25px; color:#505050; padding:10px 0px;}


.scrollbar-primary::-webkit-scrollbar {
width: 100%;
height:1px;
background-color: #707070; }

.scrollbar-primary::-webkit-scrollbar-thumb {
height:2px;
background-color: #FFF; }

.scrollbar-primary::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #707070;
border-radius: 0px; 
width: 100%;}
/* navbar */
.bar{
    color: rgba(190, 187, 187, 0.75);
    font-size: 30px !important;
    }  
.navbar-nav {
    margin-left: auto;
  }
  .nav-item{
    font-weight: 400;
}
.nav-link{
    text-decoration: none;
    font-size: 11px !important;
    color: #707070 !important;
}
.navbar-toggler{
    outline: none !important;
}
 .navbar{
     padding: 10px 100px !important;
          width: 95%;
          z-index: 2;
         background-color: white;
          -webkit-box-shadow: 0px 4px 18px -8px rgba(190, 187, 187, 0.75);
        -moz-box-shadow: 0px 4px 18px -8px rgba(190, 187, 187, 0.75);
        box-shadow: 0px 4px 18px -8px rgba(190, 187, 187, 0.75);
 }
 .nav-link:hover{
     color: black !important;
 }
 .navbar-brand img{ width: 50%;}

 /* mobile */
 @media screen and (max-width: 767px){
    .navbar-brand img{ width: 38%;}
    #nav{
        width: 100%;
        padding: 10px 20px !important;
    }
    #banner{
        width: 250%;
    }
 }
 /* destop */
 @media screen and (max-width: 1280px){
    #nav{
        width: 100%;
       
   }
 }
 /* ipad */
 @media screen and (max-width: 1024px) and (min-width: 768px) {
    #nav{
        width: 100%;
        padding: 10px 60px !important;
    }
    .banner-img{
        width:120% ;
    }
    .logo{
        width: 60%;
    }
    .banner-hd h3{
        font-size: 29px;
    }
    .banner-txt{
        font-size: 15px;
        padding: 0px 0px 10px 0px;
    }
    .about-txt h1{
        font-size: 30px;
    }
    .about-txt{
        font-size: 13px;
        line-height: 22px;
    }
    .about-hd{
        font-size: 12px;
        line-height: 20px;
        padding: 55px 0px 0px 212px;
    }
    .works-hd{ font-size:10px; color:#6E6666; font-weight:bold;}
    .works-hd span{ color:#131212;}
    .works-hd h1{ font-weight:bold; font-size:30px;  color:#1a1818; padding-bottom: 10px;}
    .works-hds{ font-size:7px; color:#6E6666; line-height:10px; float: right; margin-top: 75%; font-weight:bold;}
.works-hds span{ color:#131212;}
.works-hds h6{ font-weight:bold; font-size:15px; color:#1a1818;}
.testi-hd h1{
    font-weight: bold;
    font-size: 30px;
    line-height: 25px;
    color: #1a1818;
    padding-bottom: 23px;
}
.testi-hd{
    font-size: 13px;
    line-height: 20px;
}
.testi-txt h3 {
    font-size: 13px;}
    .testi-txt{
        font-size: 11px;
    line-height: 18px;
    font-weight: 300;
    }
    .services-hd h1{
        font-size: 30px;
        padding-bottom: 10px;
    }
    .services-hd{
        font-size: 14px;
        line-height: 20px;
    }
    .team-hd h1 {
        font-size: 30px;
        padding-bottom: 10px;
    }
    .team-hd{
        font-size: 13px;
    }
    .blog-hd h1{
        font-size: 30px;
        padding-bottom: 10px;
    }
    .blog-lft{
        font-size: 13px;
    }
    .blog-rgt a{
        font-size: 13px;
    }
    .item{
        width: 273px;
        margin-right: 21px;
    }
    .item-txt h3 {
        font-size: 22px;
        color: #FFF;
        line-height: 30px}

        .item-txt{
            font-size: 13px;
    line-height: 21px;
    padding: 15px 50px 40px 50px;
        }
 }
 