body {font-family:Dinpro; background-color: #e7e5e6;}
.log{
    width: 70%;
    margin-top: 40px;
    float: right;
}
.head{
    text-align: left;
    margin-top: 50px;
    color: rgb(107, 106, 106);
}
.col-lg-2{
    padding-left: 0px !important;
}