.navbar-nav {
  margin-left: auto;
}
.log{
  color: #001f7e;
  margin-top: 4px;
  font-size: 20px;

}
a.nav-link{
  font-size: 20px;
  color: black !important;
  font-weight: bold;
  padding-right: 35px !important;
 }
.navbar{
 padding: 0px 60px 0px 80px;
 height: 110px;
 background-color: white;
 -webkit-box-shadow: 0px 4px 18px -8px rgba(190, 187, 187, 0.75);
 -moz-box-shadow: 0px 4px 18px -8px rgba(190, 187, 187, 0.75);
  box-shadow: 0px 4px 18px -8px rgba(190, 187, 187, 0.75);
}
.first-page-section-gap{
  margin-top: 50px;
}
.second-section-gap{
  margin-top: 150px;
}

.left-side-padding-gap{
 padding-left: 4%;
}
.Rishi-Sher-Singh {
   width: 455px;
   height: 81px;
   font-family: SegoeUI;
   font-size: 60px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.33;
   letter-spacing: normal;
   text-align: left;
   color: #be0029!important;
}
.Specialist-in-Global-Value-Chains {
   width: 555px;
  height: 160px;
  font-family: SegoeUI;
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #1a1919;
  }
button{
  background-color: #be0029;
}
.letstalk{
  font-family: SegoeUI;
  font-size: 28px;
  color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
 }
.Beyond-Business-of-Business{
  width: 499px;
  height: 396px;
  opacity: 0.57;
  font-family: SegoeUI;
  font-size: 89px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #e0dfdf;
  margin-top: 73px;
 }
 .rishi-image-right{
  margin-left: 10%;
  margin-left: 9%;
 }
 .img-right-side{
   float: right;
   padding-right: 10%;
 }
 .img-youtube {
  width: 48px;
  height: 48px;
  border: solid 1px #f53f3f;
  border-radius: 50%;
  padding: 12% 12% 12% 12%;
}
.img-twitter{
  width: 48px;
  height: 48px;
  border: solid 1px #0eb1c3;
  border-radius: 50%;
  padding: 12% 12% 12% 12%
} 
.img-linked-in{
  border: solid 1px #1858ee;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 12% 12% 12% 12%
}
.vertical-slider-mrg-gap{
  margin-top: 60px!important;
}

.first-row-about{
  /* height:50%; */
}
.second-row-about{
  height:50%;
  background-color: #ffffff;
}
.image-padding{
  padding-left: 0px;
  padding-right: 0px;
}
.about{
  padding-top: 88px;
  padding-left: 73px;
  font-size: 45px;
  color: #ffffff;  
}
.about-descrption{
  padding-top: 10px;
  font-family: SegoeUI;
  font-size: 20px;
  padding-right: 154px;
  padding-left: 73px;
  padding-top: 41px!important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  margin-top: -15px!important;
  letter-spacing: normal;
  text-align: left;
  padding-bottom: 114px;
  color: #ffffff;
}

.padding-columns-project{
  padding-left: 73px!important;
}
.padding-columns-projects-total-value{
  margin-left: -39px;
}
.padding-columns-projects-people{
  padding-left: 47px!important;
}

.Project-Implimented {
  width: 189px;
  padding-top: 83px;
  height: 81px;
  font-family: SegoeUI;
  font-size: 30px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: left;
  color: #001f7e;
  
}
.Total-Value-of-Project-Managed {
  width: 322px;
  height: 81px;
  font-family: SegoeUI;
  font-size: 30px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: left;
  color: #001f7e;
  padding-top: 83px;
}
.People-Trained-Directly {
  width: 222px;
  height: 81px;
  font-family: SegoeUI;
  font-size: 30px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: left;
  color: #001f7e;
  padding-top: 83px;
}
.Research-Project {
  width: 132px;
  height: 81px;
  font-family: SegoeUI;
  font-size: 30px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: left;
  color: #001f7e;
  padding-top: 83px;
}
.Project-Implimented-value{
  width: 103px;
  height: 70px;
  font-family: SegoeUI;
  font-size: 53px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: left;
  color: #5d5d5d;
  padding-top: 38%;

}
.Total-Value-of-Project-Managed-value{
  width: 335px;
  height: 70px;
  font-family: SegoeUI;
  font-size: 53px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: left;
  color: #5d5d5d;
  padding-top: 38%;
}
.traineddirectly_value{
  width: 176px;
  height: 70px;
  font-family: SegoeUI;
  font-size: 53px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: left;
  color: #5d5d5d;
  padding-top: 31%;
}
.research-value{
  width: 32px;
  height: 70px;
  font-family: SegoeUI;
  font-size: 53px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: left;
  color: #5d5d5d;
  padding-top: 38%;
}

.Latest-Engagements {
  width: 310px;
  height: 121px;
  padding-left: 140px;
  font-family: SegoeUI;
  font-size: 45px;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #001f7e;
}
.Countries-of-Engagement {
  font-family: SegoeUI;
  font-size: 45px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  padding-right: 172px;
  padding-top: 60px;
  color: #001f7e;
}
.Countries-of-Engagement-Description{
 padding-top: 45px;
  font-family: SegoeUI;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  padding-right: 152px;
  color: #353535;
}
.India-uk-asia{
  font-family: SegoeUI;
  font-size: 25px;
  padding-top: 50px;
  padding-right: 152px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #5d5d5d;
}
/* .mrg-icon-gap{
  margin-top: 150px;
} */
.sector-icon-in-same-line{
  padding-top: 150px;
}
.icon-second-row{
  margin-top: 138px;
}
.Electronics {
  width: 97px;
  height: 27px;
  font-family: SegoeUI;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.mica{
  font-family: SegoeUI;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.Automative{
  font-family: SegoeUI;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.Garments{
  font-family: SegoeUI;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.Pharma {
  font-family: SegoeUI;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.Telecom {
  font-family: SegoeUI;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.Recycling {
  width: 86px;
  height: 27px;
  font-family: SegoeUI;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.sector-background-color{
  background-color: #e9e6e6;
  padding-left: 115px!important;
}
.Sectors-Impacted {
 padding-top: 150px;
  font-family: SegoeUI;
  font-size: 45px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #001f7e;
}
.sector-impacted-discreption-para-1{
  font-family: SegoeUI;
  font-size: 17px;
  padding-right: 141px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #666565;
}
.sector-impacted-discreption-para2{
  font-family: SegoeUI;
  font-size: 17px;
  padding-right: 141px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  padding-bottom: 100px;
  color: #666565;
}
.rishi-network-background-color{
  background-image: linear-gradient(to bottom, #001f7e, #214dd0);
}
.Rishis-Network-Still-its-Growing {
  padding-left: 138px;
  padding-right: 182px;
  padding-top: 100px;
  font-family: SegoeUI;
  font-size: 45px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.RIshi-networking-description{
  padding-right: 76px;
  padding-left: 137px;
  font-family: SegoeUI;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left ;
  color: #ffffff;


}
.tech-peo-tech-padding{
  padding-left: 140px;
}
.Technology {
  width: 135px;
  height: 33px;
  font-family: SegoeUI;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.People {
  width: 80px;
  height: 33px;
  font-family: SegoeUI;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.Mentors {
  width: 99px;
  height: 33px;
  font-family: SegoeUI;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.Client {
  width: 68px;
  height: 33px;
  font-family: SegoeUI;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.content {
  position: relative;
  text-align: center;
  color: white;
 width: 20%;
}
.SPEAKING {
  position: absolute;
  width: 146px;
  height: 40px;
  font-family: SegoeUI;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
.TRAINING{
  position: absolute;
  width: 146px;
  height: 40px;
  font-family: SegoeUI;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.THINKING{
  position: absolute;
  width: 146px;
  height: 40px;
  font-family: SegoeUI;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.VIDEOS {
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: SegoeUI;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.COACHING {
  font-family: SegoeUI;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.videoshd{
 
    position: relative;
    text-align: center;
  color: red;
}
.video-icon-first-third {
  top: 47%;
  left: 59%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 88px;
  height: 88px;
  background-color: #ec3124;
  border-radius: 50%;
}
.video-icon-second-fourth{
  top: 46%;
  left: 41%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 88px;
  height: 88px;
  background-color: #ec3124;
  border-radius: 50%;
}
.latest-video-gap{
  padding-left: 4%!important;
}
.Latest-Videos {
  width: 231px;
  height: 47px;
  font-family: SegoeUI;
  font-size: 35px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: left;
  color: #001f7e;
  margin-left: 74px;
}
.videos-hd{
  font-size: 35px;
  font-weight: 900;
  color: #001f7e;
  width: 256px;
  height: 47px;
  font-family: SegoeUI;
  font-size: 35px;

}
.container{
 max-width: 87%;
}
.video-mrg-gap-header{
  margin-top: 67px!important;
}
.video-mrg-gap{
  margin-top: 67px!important;
}
.videos{
  margin-top: 100px;
}
.lorem-text-al{
  width: 673px;
  height: 91px;
  font-family: SegoeUI;
  font-size: 19px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #151515;
    margin-top: 61px;
}


.lorem{
  font-size: 19px;
  color: #151515;
  font-weight: 300;
  font-family: 'SegoeUI';
  list-style: square;
  padding-top: 42px;
}
.httpslink-color{
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #ec3124;
}

/* card */
#testi{
  margin-top: 100px;
}
.testihd{
  text-align: center;
  font-size: 45px;
font-weight: 900;
color: #001f7e;

}
.card{
  border-radius: 5px;
box-shadow: 0 15px 20px 0 rgba(118, 130, 183, 0.18);
background-color: #ffffff;

}
.cardlorem{
  font-family: 'SegoeUI';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.19;
  letter-spacing: normal;
  text-align: center;
  color: #151d41;
  margin: 0px 263px;
}
.john{
  font-family: 'SegoeUI';
font-size: 30px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1.33;
letter-spacing: normal;
text-align: center;
color: #151d41; 
padding-top: 37px;
}

.sym{
  font-size: 200px;
  font-family: 'PerpetuaTitlingMT';
  color: #0f2cbf;
  text-align: center;
  margin-bottom: -90px;
  margin-top: -25px;
}

/* footer */
.footermargin{
  margin-top: 200px;
}
.ceneter{
  margin-left: 100px;
} 

footer{ background:#f8f8f9; width: 100%; margin:auto; padding:61px 0px 20px 0px;}
.hds{
  height: 27px;
  font-family:'SegoeUI';
  font-size: 20px;
  font-weight: bold;
  color: #292828;
}

.ftr-lnks{ font-size:14px; line-height:25px; color:#505050; padding:10px 0px;}
.ftr-lnks a{ display:inline-block; font-size:14px; text-decoration:none; color:#505050; padding-left: 0px; padding-right: 0px;}
.ftr-copy{ font-size:14px; line-height:25px; color:#505050; padding:10px 0px;}

.ftr-scl{ margin-bottom:30px; margin-top: 70px; margin-left: 46%;}
.ftr-scl a {
 display:inline-block;
  margin-right:5px; 
  padding-left: 0px;
 
}
.ftr-scl a img{ 
  opacity:0.5;
  color: gray;
  width: 38px;
  height: 38px;
}
.icon-sizes{
  width: 38px;
  height: 38px;
}
.ftr-scl a img:hover{ opacity:1;}
@media screen and (min-width:1367px) and (max-width:1920px){
  .left-side-padding-gap{
    padding-left: 4%!important;
  }
  .mrg-Countries-of-Engagement{
    padding-left: 4%!important;
  }
  .mrg-icon-gap{
    padding-left: 4%!important;
  }

}
/* .thumbnails {
  display: flex;
  flex-direction: column;
  line-height: 0;
  margin-top: 20px;
}
.carousel-left-column-backgroung-color{
  background-color: rgb(42, 72, 160)
}
.thumbnails li {
  flex: auto;
}

.thubnails a {
  display: block;
}

.thumbnails img {
  width: 30vmin;
  height: 20vmin;
  object-fit: cover;
  object-position: top;
  margin-left: 100px;
  padding: 10px;
}
.carosel-padding {
  padding-left: 0px;
}

.slides {
  overflow: hidden;
  width: 100vmin;
  height: 99vmin;
}
.slides li {
  width: 100vmin;
  height: 100vmin;
  position: absolute;
  z-index: 1;
}

.slides img {
  height: 99vmin;
  width: 110vmin;
  object-fit: cover;
  object-position: top;
}
span {
  font-size: 60px;
  font-weight: lighter;
  position: absolute;
  bottom: 50px;
  left: 215px;
  color: #ffffff;
}

.slides li:target {
  z-index: 3;
  -webkit-animation: slide 1s 1;
}

.slides li:not(:target) {
  -webkit-animation: hidden 1s 1;
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
} */



/* .container-fluid {
  display: flex;
} */

.thumbnails {
  /* display: flex; */
  flex-direction: column;
  line-height: 0;
  margin-top: 20px;
  height:97.4vmin;
}
.thumbnails li {
  flex: auto;
}

/* .thubnails a {
  display: block;
} */

ul{
  list-style-type: none;
}
.thumbnails img {
  /* width: 30vmin; */
  height: 20vmin;
  object-fit: cover;
  object-position: top;
  margin-left: 100px;
  padding: 19px;
}
.thumbcol {
  padding-left: 0px;
  background-color: rgb(42, 72, 160); 
}
.slidescol{
  padding-left:0px;
}

.slides {
  overflow: hidden;
  /* width: 123vmin; */
  height: 99.7vmin;
}
.slides li {
 
  height: 99.7vmin;
  position: absolute;
  z-index: 1;
 
}

.slides img {
  height: 99.7vmin;
  /* width: 123vmin; */
  /* object-fit: cover;
  object-position: top; */
}
span {
  /* font-size: 60px; */
  font-weight: lighter;
  position: absolute;
  bottom: 50px;
  left: 215px;
  color: #ffffff;
}

.slides li:target {
  z-index: 3;
  -webkit-animation: slide 1s 1;
}

.slides li:not(:target) {
  -webkit-animation: hidden 1s 1;
}

@keyframes slide {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes hidden {
  0% {
    z-index: 2;
  }
  100% {
    z-index: 2;
  }
}
.content-for-rgt-slider {
  position: relative;
  color: black;
}
.text-overlay{
  position: absolute;
   height: 200px;
  position: absolute;
  bottom: -10px;
 padding-top: 5%;
  font-size: 20px;
  padding-top: 4%;
  padding-left: 70px;
  opacity: 0.6;
  background-color: #090909;
  color: white;
  width: 100%;
}
.lorem-title{
  font-size: 25px;
  font-weight: lighter;
    position: absolute;
    bottom: 165px;
    left: 75px;
    bottom: 138px;
    color: #ffffff;
}
/* .lorum-title{
  font-family: SegoeUI;
  font-size: 25px;
  bottom: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
} */
/* .container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
} */